body {
    background: url(../images/background.jpg) no-repeat top center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container {
    width: 50%;
    float: right;
    max-width: 970px;
    font-family: sans-serif;
}
.accordion_data {
    width: 100%;
    float: left;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin: 0;
    transition: 0.4s;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.accordion.ng-binding, .accordion:hover {
    background-color: #ddd;
}

.accordion.ng-binding:after {
    content: "\2796";
}

.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}



div.slideDown {
    padding: 0 18px 25px;
    text-align: center;
    max-height: 500px;
    overflow: hidden;
    opacity: 1;
    transition: 0.5s ease-in-out;
    width: 90%;
    background-color: #fff;
    box-sizing: border-box;  
}
div.slideDown.ng-hide {
    opacity: 0;
    max-height: 0;
}
.slideDown h4 {
    text-transform: capitalize;
}
div.slideDown h4:after {
    width: 36px;
    content: "";
    position: absolute;
    height: 30px;
    margin: -10px 10px 0;
}
.slideDown h4.clear:after {
    background: url(../images/clear.png) no-repeat center;
    background-size: contain;
}
.slideDown h4.rain:after {
    background: url(../images/rain.png) no-repeat center;
    background-size: contain;
}
.slideDown table {
    width: 100%;
}
.slideDown table tr td {
    text-align: center !important;
}
table, td, th {
    border: 1px solid black;
}

@media only screen and (max-width: 767px) {
    body {
        float: left;
    }
    .container {
        width: 100%;
        float: left;
        margin-top: 100px;
    }
    .container h1 {
        width: 80%;
        float: left;
    }
    .accordion_data {
        width: 90%;
    }
}
